footer {
    background-color: #171717;
    padding: 0px 30px;

  .col-md-4 {
            padding: 40px 10px;
            border-right: solid .5px $header-grey;
            
            @media #{$mobile} {
                border-right: none;
            }
        }

    .lc {
        border-right: none;
    }

    ul#social-media {
        li {
            display: inline-block;
            padding: 10px;
            padding-top: 20%;
            font-size: 2rem;

            @media #{$mobile} {
                text-align: center;
                padding-top: 0;
                font-size: 1.5rem;
            }
        }  
        
    }

    .logo {
        @extend #logo-img;
        padding-bottom: 30px;
    }

    .sm a{
        color: $header-grey;
        transition-duration: 1s;

        &:hover {
            color: #ffe9e9;
            transition-duration: 1s;
        }
    }
}

.footer-txt {
        color: lighten($header-grey, 20);
        text-align: justify;
    }

#footer-contact {
    display: flex;
    flex-flow: column;
    color: white;
    justify-content: space-evenly;

    .ftr-contact-info {
        padding: 20px 0;
        display: flex;
        flex-flow: row;
        height: 1fr;
        * {
            min-width: 100px;
        }
    }
    
    .phones {
        border-top: solid .5px $header-grey;
        border-bottom: solid .5px $header-grey;
    }

    .contact-title {
        color: #9f97f9;
        text-transform: uppercase;
        font-weight: 700;
    }

    a {
        display: block;
        color: #fff;
    }
}