%half-page {
    background-color: $bg-grey;
    max-height: 600px;
    @media #{$mobile} {
        max-height: 100%;
        display: flex;
        flex-flow: column;
    }

    .col-md-6 {
        margin: auto 0;
        padding: 0;
        text-align: center;
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
            object-position: top;
            @media #{$laptop-plus} {
                object-position: 50% 25%;
            }
            max-height: 600px;
        }

        h2 {
            color: $header-grey;
            padding-bottom: 20px;
        }

        p {
            text-align: justify;
            padding: 10px 30px;
        }
    }
}

// on mobile, this will reverse the order so the second div is before the first div

%half-page-r {
    @extend %half-page;
    @media #{$mobile} {
                flex-flow: column-reverse;
            }
}