.nav-item.nav-link {
    @media #{$laptop}{
       color: $site-black !important; 
       padding-bottom: 1rem;
    }
    
    border-bottom: 4px solid transparent;
    transition-duration: 1s;
    &:hover {
        border-bottom: 4px solid $purple !important;
        transition-duration: 1s;
    }
   
} 

.nav-active {
        border-bottom: 4px solid $purple !important;

        @media #{$mobile} {
            border-bottom: 4px solid transparent;
            background-color: $purple;
            color: white !important;
            padding-left: 10px !important;
        }
    }

.justify-content-end {
    @media #{$laptop} {
        margin-right: 80px !important;
    }
}

.navbar-brand{
    @extend #logo-img;
    }
