/*
    Styles specific to physicians page
*/

#physicians {
    padding-top: 50px;
    @media #{$laptop} {
    padding: 50px 100px;
    #doc-pics {
            grid-template-columns: repeat(3, 1fr) !important;
            grid-gap: 40px;
        }

        
            .overlay {
                height: 90px;
        
                h4 {
                    padding-top: 8px;
                    font-size: 1.5rem;
                    margin-bottom: 4px;
                }
        
                p {
                padding-top: 0;
                font-size: 1rem;
                font-style: italic;
                }
            }
    }

    
}