#services {
    margin: 40px 30px;

    .service {
    padding: 5px;

    hr { 
        border: solid 1.5px #ccc;
        border-radius: 1px;
        margin: 30px 100px;
    }

    .service-inner {
        margin: 10px;
        padding: 50px 30px;
        box-shadow: 0px 0px 3px 2px #ccc;
    }
}
}

