
// Media Breakpoints

$mobile: "only screen and (max-width : 990px)";
$lt-tab: "only screen and (max-width : 1024px)";
$laptop: "only screen and (min-width : 1100px)";
$laptop-plus: "only screen and (min-width : 1439px)";

// Colors

$header-grey: #919191;
