
#physicians {
    padding: 50px 100px;
    #doc-pics {
        grid-template-columns: repeat(3, 1fr) !important;
        grid-gap: 40px;
    }

    .overlay {
        height: 100px;

        h4 {
            padding-top: 10px;
            font-size: 1.5rem;
            margin-bottom: 4px;
        }

        p {
        padding-top: 0;
        font-size: 1rem;
        font-style: italic;
        }
    }
}