<footer>
    <div id="footer" class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <a href="./">
                        <!-- Image inverted for demo purposes, probably you should remove the styling -->
                        <img style="filter: invert(1); -webkit-filter: invert(1);" src="assets/placeholder-logo.jpg" alt="">
                    </a>
                </div>
                <p class="footer-txt pr-5">Est minim eiusmod reprehenderit officia cillum do irure. In dolore amet consequat esse et tempor non consequat aliqua velit. Magna nisi deserunt ad deserunt dolor voluptate qui amet irure sit minim exercitation. Proident mollit cupidatat incididunt ad excepteur ad. Minim reprehenderit nulla eiusmod adipisicing aliqua.</p>
            </div>
            <div id="footer-contact" class="col-md-4">
                <div class="ftr-contact-info">
                    <div class="contact-title">Address</div>  
                    <a href="#">Ea irure fugiat esse sint culpa.</a>
                </div>
                <div class="ftr-contact-info phones"><div class="contact-title">Phones</div> <a href="#">Eu et id deserunt et deserunt id consequat aute incididunt.</a></div>
                <div class="ftr-contact-info"><div class="contact-title">Emails</div><a href="#">Aliqua velit quis voluptate est dolor anim incididunt esse.</a></div>
            </div>
            <div class="col-md-4 lc">
                <ul id="social-media">
                    <li class="sm">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                        
                    </li>
                    <li class="sm">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                        
                    </li>
                    <li class="sm">
                        <a href="#">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="sm">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                      
                    </li>
                    <li class="sm">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                       
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

