<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/SIMA/"><img src="assets/placeholder-logo1.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a class="nav-item nav-link {% if page_name == "About" %}nav-active{% endif %}" href="about.html" >About</a>
      <a class="nav-item nav-link {% if page_name == "Services" %}nav-active{% endif %}" href="services.html">Services</a>
      <a class="nav-item nav-link {% if page_name == "Physicians" %}nav-active{% endif %}" href="physicians.html">Physicians</a>
      <a class="nav-item nav-link {% if page_name == "Nurses" %}nav-active{% endif %}" href="nurses.html">Nurses APNP</a>
      <a class="nav-item nav-link {% if page_name == "Patients" %}nav-active{% endif %}" href="patients.html">Patients</a>
      <a class="nav-item nav-link {% if page_name == "Pay Bill" %}nav-active{% endif %}" href="bills.html">Pay Bill</a>
      <a class="nav-item nav-link  {% if page_name == "Contact" %}nav-active{% endif %}" href="contact.html">Contact</a>
   
    </div>
  </div>
</nav>