{% set page_name = 'Pay Bill' %}
{% set cta = 'Pay Bills' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}
    <section id="online-payment" class="row">
        {% include 'partials/half-page-element.njk' %}
    </section>
    <section id="q-n-a" class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="question">
                            <div class="q-container">
                                <p class="q">This is a question?</p>
                                <div class="icon">+</div>
                            </div>
                            <p class="answer">Do enim ipsum incididunt cillum ut ex id eu incididunt enim consectetur.</p>
                        </div>
                        <div class="question">
                            <div class="q-container">
                                <p class="q">This is a question?</p>
                                <div class="icon">+</div>
                            </div>
                            <p class="answer">In Lorem labore in laboris labore. Reprehenderit fugiat minim occaecat do. Cillum aliquip mollit laboris duis officia nisi. Amet pariatur elit do sunt culpa. Magna dolore exercitation exercitation incididunt Lorem ad non.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="question">
                            <div class="q-container">
                                <p class="q">This is a question?</p>
                                <div class="icon">+</div>
                            </div>
                            <p class="answer">Nostrud ex et nisi veniam sunt culpa minim ut officia veniam et. Fugiat adipisicing amet ut sunt labore cupidatat culpa aute. Quis consequat velit ad est ad minim. Proident nulla sit minim id mollit.</p>
                        </div>
                        <div class="question">
                            <div class="q-container">
                                <p class="q">This is a question?</p>
                                <div class="icon">+</div>
                            </div>
                            <p class="answer">Sunt tempor mollit officia sunt velit aute aliquip excepteur nostrud occaecat aute.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock pageContent %}