{% extends "layout.njk" %}
{% block content %}

<!-- Welcome Section -->
<section id="welcome" class="row">
    <div class="col-12 align-middle">
        <h1 class="display-2">This is some content</h1>
        <p class="subtext">Veniam aute eiusmod magna aliqua do ad esse cillum aute est mollit magna culpa do. Dolor exercitation et fugiat ex ea. Et consectetur proident sit mollit eiusmod reprehenderit ut voluptate. Tempor ut esse ullamco eiusmod. Ullamco eiusmod magna esse magna cillum laboris deserunt ipsum irure magna laboris nostrud qui.</p>
        <a href="#" class="btn btn-primary btn-lg">Clickity Click</a>
    </div>
</section>

<!-- Main Services Section -->
<section id="main-services" class="row">

</section>

<!-- Online Payments Section -->
<section id="online-payments" class="row">

</section>

<!-- About Section -->
<section id="brief-about" class="row">

</section>

<!-- Physicians Spotlight -->
<section id="physicians-spotlight" class="row">

</section>

<!-- Social Media -->
<section id="social-media" class="row">

</section>

{% endblock %}
