{% set page_name = 'Person' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}
<section id="abt-mission" class="row">
 {% include 'partials/half-page-element.njk' %}
</section>
{% endblock pageContent %}