{% set page_name = 'Nurses' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}

<!-- Nurses -->
    <section id="nurses">
        <div class="row">
        <div class="col-12">
        <div id="doc-pics">
                {% for doctor in doctor_pics %}
                        <div class="doc-pic">
                           
                            <a href="{{doctor.target}}">
                                <img src="{{doctor.src}}" alt="">
                            </a>
                            <a href="{{doctor.target}}">
                                <div class="nurse-info">
                                    <p class="p-name">{{doctor.name}}</p>
                                    <p class="p-title">{{doctor.title}}</p>
                                </div>
                            </a>
                            
                        </div>
                    
                {% endfor %}</div>
{% endblock pageContent %}
  

  
