{% set page_name = 'Nurses' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}
{# {% for photo in photos %}
<img src="{{photo.src}}" alt="">
{% endfor %} #}
{% for person in people_pics %}
 <img src="{{person.src}}" alt="">
{% endfor %}
{% endblock pageContent %}