{% set page_name = 'Patients' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}
    <section id="patients">
        <div class="row">
            <div class="col-12 p-4">
                <h1 class="display-4 text-center">
                    Title
                </h1>
            </div>
        </div>
        <div class="row plans">
            <div class="col-md-4">
                <div class="text">
                    <div class="title-sec">
                        <h6>Basic</h6>
                        <h4>$500.00</h4>
                        <p>Starting At</p>
                    </div>
                    <hr>
                    <div class="features-sec">
                        <ul class="feats">
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                            <li>Feature 4</li>
                        </ul>
                    </div>
                </div>
                <div class="btn-sec">
                    <a href="" class="btn btn-secondary btn-patient">Get Started</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text">
                    <div class="title-sec">
                        <h6>Basic</h6>
                        <h4>$500.00</h4>
                        <p>Starting At</p>
                    </div>
                    <hr>
                    <div class="features-sec">
                        <ul class="feats">
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                            <li>Feature 4</li>
                        </ul>
                    </div>
                </div>
                <div class="btn-sec">
                    <a href="" class="btn btn-primary btn-patient">Get Started</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text">
                    <div class="title-sec">
                        <h6>Basic</h6>
                        <h4>$500.00</h4>
                        <p>Starting At</p>
                    </div>
                    <hr>
                    <div class="features-sec">
                        <ul class="feats">
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                            <li>Feature 4</li>
                        </ul>
                    </div>
                </div>
                <div class="btn-sec">
                    <a href="" class="btn btn-secondary btn-patient">Get Started</a>
                </div>
            </div>
        </div>

   
      <div class="row pt-5">
            <div class="col-12 p-4">
                <h1 class="display-4 text-center">
                    Title
                </h1>
            </div>
        </div>
        <div class="row plans">
            <div class="col-md-4">
                <div class="text">
                    <div class="title-sec">
                        <h6>Basic</h6>
                        <h4>$500.00</h4>
                        <p>Starting At</p>
                    </div>
                    <hr>
                    <div class="features-sec">
                        <ul class="feats">
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                            <li>Feature 4</li>
                        </ul>
                    </div>
                </div>
                <div class="btn-sec">
                    <a href="" class="btn btn-secondary btn-patient">Get Started</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text">
                    <div class="title-sec">
                        <h6>Basic</h6>
                        <h4>$500.00</h4>
                        <p>Starting At</p>
                    </div>
                    <hr>
                    <div class="features-sec">
                        <ul class="feats">
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                            <li>Feature 4</li>
                        </ul>
                    </div>
                </div>
                <div class="btn-sec">
                    <a href="" class="btn btn-primary btn-patient">Get Started</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text">
                    <div class="title-sec">
                        <h6>Basic</h6>
                        <h4>$500.00</h4>
                        <p>Starting At</p>
                    </div>
                    <hr>
                    <div class="features-sec">
                        <ul class="feats">
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                            <li>Feature 4</li>
                        </ul>
                    </div>
                </div>
                <div class="btn-sec">
                    <a href="" class="btn btn-secondary btn-patient">Get Started</a>
                </div>
            </div>
        </div>

    </div>
    
</section>
{% endblock pageContent %}