{% set page_name = 'Physicians' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}
   <!-- Physicians Spotlight -->
    <section id="physicians">
        <div class="row">
        <div class="col-12">
        <div id="doc-pics">
                {% for person in doctor_pics %}
                        <div class="doc-pic">
                            <div class="overlay">
                                <h4>{{person.name}}</h4>
                                <p>{{person.title}}</p>
                            </div>
                            <a href="{{person.target}}">
                                <img src="{{person.src}}" alt="">
                            </a>
                        </div>
                    
                {% endfor %}</div>

  
{% endblock pageContent %}