{% set page_name = 'Physicians' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}
    <!-- Physicians Spotlight -->
    <section id="physicians">
        <div class="row">
            <div class="col-12">
                <div id="doc-pics">
                    {% for doctor in doctor_pics %}
                        <div class="doc-pic">
                            <div class="overlay">
                                <h4>{{doctor.name}}</h4>
                                <p>{{doctor.title}}</p>
                            </div>
                            <a href="{{doctor.target}}">
                                <img src="{{doctor.src}}" alt="">
                            </a>
                        </div>

                    {% endfor %}
                </div>

            {% endblock pageContent %}