{% set page_name = 'Services' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}
    <section id="services" class="text-center">
        <div class="row">
            <div class="col-md-4 service">
                <div class="service-inner">
                    <div class="icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h4>Some Service</h4>
                    <hr>
                    <p>Excepteur enim esse duis ut nostrud laborum incididunt dolor labore pariatur commodo tempor velit mollit.</p>
                </div>

            </div>
            <div class="col-md-4 service">
                <div class="service-inner">
                    <div class="icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h4>Some Service</h4>
                    <hr>
                    <p>Excepteur enim esse duis ut nostrud laborum incididunt dolor labore pariatur commodo tempor velit mollit.</p>
                </div>
            </div>
            <div class="col-md-4 service">
                <div class="service-inner">
                    <div class="icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h4>Some Service</h4>
                    <hr>
                    <p>Excepteur enim esse duis ut nostrud laborum incididunt dolor labore pariatur commodo tempor velit mollit.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 service">
                <div class="service-inner">
                    <div class="icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h4>Some Service</h4>
                    <hr>
                    <p>Excepteur enim esse duis ut nostrud laborum incididunt dolor labore pariatur commodo tempor velit mollit.</p>
                </div>

            </div>
            <div class="col-md-4 service">
                <div class="service-inner">
                    <div class="icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h4>Some Service</h4>
                    <hr>
                    <p>Excepteur enim esse duis ut nostrud laborum incididunt dolor labore pariatur commodo tempor velit mollit.</p>
                </div>
            </div>
            <div class="col-md-4 service">
                <div class="service-inner">
                    <div class="icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h4>Some Service</h4>
                    <hr>
                    <p>Excepteur enim esse duis ut nostrud laborum incididunt dolor labore pariatur commodo tempor velit mollit.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 service">
                <div class="service-inner">
                    <div class="icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h4>Some Service</h4>
                    <hr>
                    <p>Excepteur enim esse duis ut nostrud laborum incididunt dolor labore pariatur commodo tempor velit mollit.</p>
                </div>

            </div>
            <div class="col-md-4 service">
                <div class="service-inner">
                    <div class="icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h4>Some Service</h4>
                    <hr>
                    <p>Excepteur enim esse duis ut nostrud laborum incididunt dolor labore pariatur commodo tempor velit mollit.</p>
                </div>
            </div>
            <div class="col-md-4 service">
                <div class="service-inner">
                    <div class="icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h4>Some Service</h4>
                    <hr>
                    <p>Excepteur enim esse duis ut nostrud laborum incididunt dolor labore pariatur commodo tempor velit mollit.</p>
                </div>
            </div>

        </div>

    </section>
{% endblock pageContent %}