#welcome {
    min-height: 700px;
    background: url(https://raw.githubusercontent.com/DewofyourYouth/SIMA/master/assets/workplace.jpg)fixed center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;

    .subtext {
        padding: 10px 150px !important;
    }
}

